.player-desc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--icon-size); width: 100%;
}

    .player-desc img {
        width: var(--icon-size);
    }

div.game-mode {
    position: relative;
}

    .mode-filter {
        z-index: 1;
        top: 0px; left: 0px;
        height: 100%; width: 100%;

        background-color: transparent;
    }

    img.game-mode {
        position: absolute;
        width: var(--icon-shrink-2);

        transition: all 0.25s ease;
    }

    img.game-mode:not(.selected) {
        transform: translateX(1em);
        opacity: 0.35;
    }

    img.game-mode.selected {
        transform: translateX(-1em);
    }