:root {
    --x-mark: hsl(218, 31%, 69%, 75%);
    --x-icon: hsl(218, 31%, 69%);
    --o-mark: hsl(227, 25%, 51%, 75%);
    --o-icon: hsl(227, 25%, 51%);

    --dark: hsl(0, 0%, 15%);
    --light: rgb(219, 224, 241);
    --light-alpha-1: rgb(219, 224, 241, 75%);
    --light-alpha-2: rgb(219, 224, 241, 90%);
}

body {
    background-image: url('../../assets/night/bg.svg');
    background-position: center bottom;
    background-size: cover;

    color: var(--dark);
}

.player-container {
    background-color: var(--light-alpha-1);
    border: 1px solid var(--dark);
}

button {
    border: 1px solid var(--dark);
}

#board-space {
    border: 2px solid var(--dark);
}

div .empty,
input,
.computer-label,
button,
h3 {
    background-color: var(--light-alpha-2);
}

h3:not(:empty) {
    border: 1px solid var(--dark);
}

#board-space .row:nth-child(1),
#board-space .row:nth-child(2) {
    border-bottom: 2px solid var(--dark);
}

#board-space .row div:nth-child(1),
#board-space .row div:nth-child(2) {
    border-right: 2px solid var(--dark);
}

.x-mark {
    background-color: var(--x-mark);
}

.o-mark {
    background-color: var(--o-mark);
}