:root {
    --x-mark: hsl(231, 53%, 86%, 75%);
    /* --icon-xplayer: hsl(231, 33%, 56%); */
    --o-mark: hsl(324, 43%, 86%, 75%);
    /* --icon-oplayer: hsl(324, 26%, 68%); */
    /* --accent: hsl(45, 75%, 60%); */

    --dark: hsl(0, 0%, 15%);
    --light: rgb(247, 230, 232);
    --light-alpha-1: rgb(247, 230, 232, 75%);
    --light-alpha-2: rgb(247, 230, 232, 90%);
    --icon-sel: #9388A4;

    --border-lrg: 1rem;
    --border-sml-1: 0.75rem;
    --border-sml-2: 0.5rem;
    --border-sml-3: 0.35rem;
}

body {
    background-image: url('../assets/bg/dawn.svg');
    background-position: center bottom;
    background-size: cover;

    color: var(--dark);
}

.player-container {
    background-color: var(--light-alpha-1);
    border: 1px solid var(--dark);
    border-radius: var(--border-lrg);
}

.player-fieldset {
    border: none;
}

button {
    border: 1px solid var(--dark);
    border-radius: var(--border-sml-1);
}

input {
    border: none;
    border-radius: var(--border-sml-2);
}

#board-space {
    /* background-color: var(--dark); */
    border: 2px solid var(--dark);
    border-radius: var(--border-sml-2);
}

div .empty,
input,
button {
    background-color: var(--light-alpha-2);
}

#board-space .row:nth-child(1),
#board-space .row:nth-child(2) {
    border-bottom: 2px solid var(--dark);
}

#board-space .row div:nth-child(1),
#board-space .row div:nth-child(2) {
    border-right: 2px solid var(--dark);
}

#board-space .row:nth-child(1) div:nth-child(1) {
    border-radius: var(--border-sml-3) 0px 0px 0px;
}

#board-space .row:nth-child(1) div:nth-child(3) {
    border-radius: 0px var(--border-sml-3) 0px 0px;
}

#board-space .row:nth-child(3) div:nth-child(3) {
    border-radius: 0px 0px var(--border-sml-3) 0px;
}

#board-space .row:nth-child(3) div:nth-child(1) {
    border-radius: 0px 0px 0px var(--border-sml-3);
}

.x-mark {
    background-color: var(--x-mark);
}

/* .x-win {
    background-color: var(--xplayer-win)
} */

.o-mark {
    background-color: var(--o-mark);
}

/* .o-win {
    background-color: var(--xplayer-win)
} */