:root {
    --shrink: 1vw;
    --body-padding: 1rem;
    --input-width: 20vw;
    --input-sibling-gap: 0.35em;
    --setplayers-width-min: calc(2 * var(--input-width));
    --setplayers-width-max: calc(10 + var(--setplayers-width-min));
    --cell-edge: 2.5em;
    --icon-size: calc(1em + var(--shrink));
    --icon-shrink: calc(0.75 * var(--icon-size));
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: calc(0.75rem + var(--shrink));

    padding: var(--body-padding) 0rem;
    height: 100vh;
}

.hide {
    display: none;
}

.player-container {
    display: flex;
    align-items: center;
}

    .player-fieldset {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: var(--input-sibling-gap);

        width: auto;
    }

        input,
        label {
            padding: 0.1em;
        }

        input {
            text-align: center;
            width: var(--input-width);
        }

        label {
            line-height: 1.15em;
            min-width: calc(var(--input-width));
        }

/* player switch position & styled in player-switch.css */

/* theme container positioned & styled in themes-switch.css */

button {
    padding: 0.30em;
}

h3 {
    position: relative;
    top: 0px;

    min-height: calc(1.55em + 2px);
    margin: 0em;
}

h3:not(:empty) {
    padding: 0.2em;
}

#game-container {
    position: relative;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

    #board-space {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        height: auto; width: auto;
    }

        #board-space .row {
            display: flex;
            flex-flow: row;
        }

            #board-space .row div {
                display: flex;
                justify-content: center;
                align-items: center;
                
                height: var(--cell-edge); width: var(--cell-edge);
            }
