:root {
    --shrink: 1vw;
    --body-padding: 2rem;
    --input-width: 20vw;
    --input-sibling-padding: 0.35em;
    --setplayers-width-min: calc(2 * var(--input-width));
    --setplayers-width-max: calc(10 + var(--setplayers-width-min));
    --cell-edge: 2.5em;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: calc(1rem + var(--shrink));

    padding: var(--body-padding) 0rem;
    height: 100vh;
}

.hide {
    display: none;
}

.player-container {
    display: flex;
}

    .player-fieldset {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        width: auto;
    }

        input {
            text-align: center;
            width: var(--input-width);
            padding: 0.1em;
        }

        .legend {
            margin-bottom: var(--input-sibling-padding);
        }

        label {
            line-height: 1.15em;
            min-width: calc(var(--input-width));
            padding: 0.1em;
        }

        .player-desc {
            margin-top: var(--input-sibling-padding);
        }

button {
    padding: 0.30em;
}

#game-container {
    position: relative;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

    h3 {
        position: relative;
        top: 0px;

        height: var(--ticker);
        margin: 0em 0em;
    }

    #board-space {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        height: auto; width: auto;
    }

    #board-space,
    #board-space .row {
        gap: 2px;
    }

        #board-space .row {
            display: flex;
            flex-flow: row;
        }

            #board-space .row div {
                display: flex;
                justify-content: center;
                align-items: center;
                
                height: var(--cell-edge); width: var(--cell-edge);
            }
