body {
    display: flex;
    flex-flow: column;
    align-items: center;

    height: 100vh;
}

.hide {
    display: none;
}

h1 {
    margin: 2rem;
}

.set-players {
    display: flex;
}

    .player-input {
        display: flex;
        flex-flow: column;
        align-items: center;

        width: 20vw;
    }

        .player-input input {
            text-align: center;
        }

        label {
            line-height: calc(1.15em + 4px);
        }

        .player-desc {
            margin-top: 0.35em;
        }

button {
    margin: 1em 0em;
}

#game-container {
    position: relative;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

    h3 {
        position: absolute;
        top: 0rem;
    }

    #board-space {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        height: auto; width: auto;
        margin-top: 2rem;
    }

    #board-space,
    #board-space .row {
        gap: 2px;
    }

        #board-space .row {
            display: flex;
            flex-flow: row;
        }

            #board-space .row div {
                display: flex;
                justify-content: center;
                align-items: center;
                
                height: 2em; width: 2em;
            }
