/* GLOBAL ========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0px; margin: 0px;
    line-height: 1.15em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 100%;
    font: inherit;

    vertical-align: baseline;
}


/* SECTIONS ========================= */

/* correct font size, margin on `h1` elements */
/* within `section` and `article` contexts */
/* in Chrome, Firefox, and Safari */

h1 {
    font-size: 3em;
    padding: 0;
    margin: 0;
}

/* standardize margins for `header` elements across broswers */

h2, h3 {
    padding: 0;
    margin: 0;
}


/* TEXT-LEVEL SEMANTICS ========================= */

/* add correct font weight in Chrome, Edge, Safari */

b,
strong {
    font-weight: bolder;
}


/* EMBEDDED CONTENT ========================= */

/* remove border on images inside links in IE 10 */

img {
    border-style: none;
}

/* FORMS ========================= */

/* 1. change font styles in all browsers */
/* 2. remove margin in Firefox and Safari */
/* 3. show overflow in IE, Edge */

button,
input {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    padding: 0;
    margin: 0; /* 2 */
    overflow: visible; /* 3 */
}

/* remove inheritance of text transform in Edge, Firefox, IE */

button {
    text-transform: none;
}

/* correct the inability to style clickable types in iOS, Safari */

button,
[type="button"] {
    -webkit-appearance: button;
}

/* remove inner border, padding in Firefox */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
    margin: 0;
}

/* restore focus styles unset by previous rule ^^ */

button:-moz-focusring,
[type="button"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/* correct padding in Firefox */

fieldset {
    padding: 0.5em 0.75em;
}
  
/* 1. correct text wrapping in Edge, IE */
/* 2. correct color inheritance from `fieldset` elements in IE */
/* 3. remove padding so devs aren't caught out when they zero-out */
/*    `fieldset`elements in all browsers */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    margin: 0;
    white-space: normal; /* 1 */
}


/* MISC ========================= */

/* add correct display in IE 10 */

[hidden] {
    display: none;
}