@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Patrick+Hand&display=swap');

:root {
    /* --shrink: 1vw; */
    --title: calc(1.75rem + var(--shrink));
    --ui: calc(0.5rem + var(--shrink));
    --ticker: calc(1rem + var(--shrink));
    --board: calc(2.5rem + var(--shrink));
}

body {
    font-size: var(--ui);
    font-family: 'Comic Neue', cursive;
}

h1 {
    font-size: var(--title);
}

button {
    text-align: center;
}

label {
    text-align: center;
}

h3 {
    font-size: var(--ticker);
    text-align: center;
}

#board-space {
    font-family: 'Patrick Hand', cursive;
    font-size: var(--board);
}